{% extends 'base.html.twig' %}

{% block title %}Hello VoteController!{% endblock %}

{% block body %}
    <div class="banner">
        <div class="banner-content">
            <h2>Vote</h2>
            <span>Soutenez nous en votant pour le serveur</span>
        </div>    
    </div>
    <main class="main-container">
        <div class="card-flex">    
            <h3>Page en cours de maintenance</h3>
        </div>
    </main>
{% endblock %}