{# Footer du site #}
<footer class="footer">
    <div class="footer-content">
        <ul class="footer-social">
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitch"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
        </ul>
        <p class="copyrights">&copy; Copyright 2023 - Tous droits réservés.</p>
    </div>
</footer>