{% extends 'base.html.twig' %}

{% block body %}
    {# Banière du site #}
    <div class="banner">
        <div class="banner-content">
            <h2>Create</h2>
            <span>Création de catégories produits</span>
        </div>    
    </div>
    <main class="main-container">
        {# Formulaire de création des categories de produits #}
        <div class="form-card">
            <div class="form-content">
                <h2>CREATE</h2>
                {{ form_start(productCategoryForm) }}
                    {{ form_row(productCategoryForm.name, {
                        label: 'Ajouter une catégorie'
                    }) }}
                    <div class="input-box">
                        <label hidden>Créer</label>
                        <input type="submit" value="Create">
                    </div>
                {{ form_end(productCategoryForm) }}
            </div>
        </div>
    </main>
{% endblock %}
