{% extends 'base.html.twig' %}

{% block title %}Hello DonateController!{% endblock %}

{% block body %}
    {# Banière du site #}
    <div class="banner">
        <div class="banner-content">
            <h2>Donation</h2>
            <span>C'est ici que vous pouvez supporter le serveur</span>
        </div>    
    </div>
    <main class="main-container">
    {# Futur module de payement pour achat de points virtuels #}
        <div class="card-flex">    
            <h3>Page en cours de maintenance</h3>
        </div>
    </main>
{% endblock %}
