{% extends 'base.html.twig' %}

{% block title %}Hello DonateController!{% endblock %}

{% block body %}
    <div class="banner">
        <div class="banner-content">
            <h2>Donation</h2>
            <span>C'est ici que vous pouvez supporter le serveur</span>
        </div>    
    </div>
    <main class="main-container">
        <div class="card-flex">    
            <h3>Page en cours de maintenance</h3>
        </div>
    </main>
{% endblock %}
