{% extends 'base.html.twig' %}

{% block title %}Hello CheckoutController!{% endblock %}

{% block body %}
    <div class="banner">
        <div class="banner-content">
            <h2>Checkout</h2>
            <span></span>
        </div>    
    </div>
    <main class="main-container">
        <h2>Merci pour votre commande</h2>
    </main>
{% endblock %}
