{% extends 'base.html.twig' %}

{% block title %}Hello DownloadController!{% endblock %}

{% block body %}
    {# Banière du site #}
    <div class="banner">
        <div class="banner-content">
            <h2>Download</h2>
            <span>Rejoignez nous en téléchargeant le launcher</span>
        </div>    
    </div>
    <main class="main-container">
    {# Futurs packs de téléchargement du serveur de jeu #}
        <div class="card-flex">    
            <h3>Page en cours de maintenance</h3>
        </div>
    </main>
{% endblock %}
